[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile.railway"

[deploy]
startCommand = "supervisord -n -c /app/deploy/supervisord-railway.conf"
healthcheckPath = "/api/status"
healthcheckTimeout = 10
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 5
numReplicas = 1
